* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url("../images/dinobg.jpeg") no-repeat center center/cover;
  text-align: center;
}

.container {
  box-sizing: border-box;
  border: 6px solid orange;
  border-radius: 5%;
  margin: 30px;
  display: grid;
  place-self: center;
  place-items: center;
  background-color: #28b487;
  height: 100vw;
  width: 80vw;
  opacity: 95%;
}

.gamename {
  text-align: center;
  font-family: "Mountains of Christmas", "sans-serif";
  color: #28b487;
  text-decoration: underline orange 3px;
}

.instructions {
  padding: 10px;
  font-size: 17px;
  font-weight: 550;
}
.btn {
  padding: 10px;
  color: #28b487;
  background-color: orange;
  border: 3px solid#28b487;
  font-family: "Handlee", sans-serif;
  font-size: 16px;
  border-radius: 8px;
}
.score-boxes {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 17px;
  font-weight: 550;
}
.score {
  margin: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}
.card {
  place-self: center;
  display: grid;
  place-items: center;
  background-color: orange;
  height: 62px;
  width: 62px;
  border-radius: 10px;
  border-color: white;
  cursor: pointer;
}

.card img {
  max-width: 55px;
  max-height: 55px;
  display: grid;
  place-items: center;
  opacity: 0;
}

@media screen and (min-width: 375px) {
  body {
    height: 120vh;
  }
}

@media screen and (min-width: 425px) {
  .card {
    height:65px;
    width:65px;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .container {
    height: 60vh;
    width: 60vh;
  }
  .container  .instructions .score-boxes {
    display: flex;
    justify-content: space-between;
  }
}
